/*
Theme Name: Techno
Template: ecommerce-plus
Author: ceylonthemes
Author URI: https://ceylonthemes.com
Description: Techno is fully featured WordPress multi purpose theme suitable for electronic stores, storefront, shopping cart, education, portfolio and agency. Techno has built in home page template and compatible with latest page builders, Divi, Elementor and SiteOrign.
Tags: e-commerce,translation-ready,custom-background,theme-options,custom-menu,threaded-comments,featured-images,footer-widgets,editor-style,right-sidebar,full-width-template,two-columns,three-columns,grid-layout,custom-colors,custom-header,custom-logo,featured-image-header,blog,portfolio
Version: 1.2.2
Requires PHP: 5.6
Tested up to: 5.7
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: techno
*/


/*
 * 
 */

.header-storefront .menu-toggle {
	position: relative;
	right: initial;
	top: initial;
}

/*
 * slider css
 */ 
 
.carousel-control {
	width:initial;
}

.carousel-control {
    left: 10px;
}

.carousel-control.right {
    right: 10px;
}

.carousel-control .glyphicon-menu-left, 
.carousel-control .glyphicon-menu-right{
	font-size:14px;
}

.glyphicon-menu-right::before,
.glyphicon-menu-left::before {
    padding-top: 10px;
    background-color: #15151557;
    padding: 7px;
}

.carousel-control {
    text-shadow: initial;
}

/*
 * Additional css
 */

.header_social_links ul {
	margin-bottom:0px;
}

.top_bar_wrapper ul {
	margin-bottom:0px;
}

.woo-product-search-form {
    overflow: hidden;
	border-radius: 24px;
}



/*
 * Footer
 */
 
.site-info {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0px;
} 

.site-footer {
    padding-top: 5px;
}


/*
 * wishlist
 */
.my-yith-wishlist {
	 position:absolute;
	 top:10px;
	 left:10px;
	 color:#ffbf08;
	 padding:0px;
	 display:none;
	 
}

.product:hover .my-yith-wishlist {
	 display:block
}

.my-yith-wishlist .feedback {
	 font-size:0;
	 color:transparent;
	 display:none;
}

.my-yith-wishlist .yith-wcwl-wishlistexistsbrowse.show a,
.my-yith-wishlist .yith-wcwl-wishlistaddedbrowse {
	 font-size:0;
	 color:transparent
}

.product a.added_to_cart:before {
	 color:#666;
	 font-size:14px
}

.my-yith-wishlist .yith-wcwl-wishlistexistsbrowse a {
	 float:left;
	 font-size:0;
	 color:#ffbf08;
	 line-height: 15px;
}

.my-yith-wishlist .yith-wcwl-wishlistexistsbrowse a:before,
.my-yith-wishlist .yith-wcwl-wishlistaddedbrowse a:before {
	content:"\f00c";
	font-family:fontawesome;
	font-size:14px;
	padding: 6px;
	background-color: #ffbf08;
	color: white;
	border-radius: 24px;
	margin-bottom: 1px;
	display: inline-block;

}

.my-yith-wishlist .yith-wcwl-add-button .add_to_wishlist {
	 font-size:0;
	 color:transparent;
}

.yith-wcwl-add-to-wishlist {
	 padding:0;
	 margin:0
}

.my-yith-wishlist .yith-wcwl-add-button .add_to_wishlist:before {
	content:"\f004";
	font-family:fontawesome;
	font-size:14px;
	color: #fff;
	padding: 6px;
	background-color: #ffbf08;
	border-radius: 24px;	 
}

.my-yith-wishlist .compare-button a {
	 font-size:0;
	 color:transparent;
	 float:left;
	 background-color:transparent
}

.woocommerce ul.products li.product .compare {
	 margin-left:1px
}

.my-yith-wishlist .woocommerce a.compare.button {
	 font-size:0;
	 background-color:transparent;
	 margin-top:5px;
}

.my-yith-wishlist .compare-button a:before {
	content:"\f074";
	font-family:fontawesome;
	font-size:14px;
	color: #ffbf08;
	padding: 6px;
	background-color: #ffbf08;
	color:#fff;
	border-radius: 24px;
	display: block;
}

.my-yith-wishlist a.yith-wcqv-button {
	 margin-top:1em;
	 font-size:0;
	 background-color:transparent
}

.my-yith-wishlist .button.yith-wcqv-button {
	 font-size:0;
	 color:transparent;
	 float:left;
	 background-color:transparent
}

.my-yith-wishlist .button.yith-wcqv-button:before {
	content:"\f06e";
	font-family:fontawesome;
	font-size:14px;
	color: #fff;
	padding: 6px;
	background-color: #ffbf08;
	border-radius: 24px;
	display:block;
	margin-top:5px;	
	line-height: 15px;
}

.my-yith-wishlist .button.yith-wcqv-button:hover {
	 background-color:transparent
}

.product .my-yith-wishlist .button.yith-wcqv-button {
	 display:block;
	 clear:both
}

.product .button.yith-wcqv-button {
	 display:none
}

#yith-quick-view-modal {
	 z-index:99999;
	 top:unset
}

#yith-quick-view-modal.open {
	 top:0;
	 z-index:99999
}

#yith-quick-view-modal.open .yith-wcqv-wrapper {
	 z-index:99999
}

/*
 * Countdown timer
 */
.header-countdown-timer p {
	margin-bottom:0px;
	padding:7px;
	font-size: 21px;
}

.header-countdown-timer  {
	margin-bottom:0px;
	padding:0px;
	color:#FFFFFF;
	background-color:#0c5adb;
}

.header-countdown-timer .container .row  {
	display: flex;
	align-items: center;
}

.menu-toggle {
    margin-top: 10px;
}